@import url('https://fonts.cdnfonts.com/css/whitney-sc');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  text-align: center;
  background-color: #2D2A2A;
  /* overflow-x: hidden */
}

.navbar {
  width: 95%;
  position: fixed;
  top: 2vh;
}

.homeButton {
  font-family: 'Khula', sans-serif;
  font-weight: 700;
  font-style: bold;
  text-align: left;
  margin-left: 1vh;
  font-size: 2.3vh;
  color: #E6E6E6;
}

.projectsButton {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  font-size: 2.1vh;
  color: #E6E6E6;
}

.aboutUsButton {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  font-size: 2.1vh;
  color: #E6E6E6;
}

/* .nerdNavbar {
  height: 40px;
  width: 40px;
} */

.weAre {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  color: #E6E6E6;
  text-align: left;
  margin-left: 3%;
  margin-bottom: 0%;
}

.heroText {
  font-family: 'Whitney BlackSC', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 100px;
  color: #E6E6E6;
  margin-top: 0%;
  text-align: left;
  margin-left: 3%;
  color: #FFCC4E;
  margin-bottom: 0%;
  height: 120px; /* Add this line */
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #E6E6E6;
  text-align: left;
  margin-left: 3%;
  position: relative;
  margin-top: 0%;
}

.nerdSvg {
  height: 40%;
  position: absolute;
  right: 4%;
}

.homeTextContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}