@import url('https://fonts.cdnfonts.com/css/whitney-sc');

body {
  text-align: center;
  background-color: #2D2A2A;
}

.navbar {
  background-color: #E6E6E6;
  width: 95%;
  border-radius: 50px;
  position: absolute;
  top: 3%;
}

.homeButton {
  font-family: 'Whitney BlackSC', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  margin-left: 7%;
  font-size: 30px;
}

.projectsButton {
  font-family: 'Whitney BlackSC', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  font-size: 23px;
}

.aboutUsButton {
  font-family: 'Whitney BlackSC', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: right;
  font-size: 23px;
}

.nerdNavbar {
  height: 40px;
  width: 40px;
  margin-left: 10%;
}